ADF/pipeline/pipeline2.json
{
	"name": "pipeline2",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Files",
					"value": [
						"colors",
						" inventari",
						" inventario_part",
						" parti_categorie",
						" parts",
						" sets",
						" themes"
					]
				}
			},
			{
				"name": "IfLoadAllFiles",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@pipeline().parameters.LoadAllFiles",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "AggiungiInventorySet",
							"description": "",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Files",
								"value": "inventory_sets"
							}
						},
						{
							"name": "AggungiPartRelationship",
							"type": "AppendVariable",
							"dependsOn": [
								{
									"activity": "AggiungiInventorySet",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Files",
								"value": "part_relationships"
							}
						}
					]
				}
			},
			{
				"name": "ForEachFiles",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "IfLoadAllFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('Files')",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Lego_HTTP_to_ADLS_inventoryparts_ma",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"FileName": {
										"value": "@{item()}.csv.gz",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"LoadAllFiles": {
				"type": "bool",
				"defaultValue": false
			}
		},
		"variables": {
			"Files": {
				"type": "Array"
			},
			"ListOfFiles": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Pipeline marco"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}